

.hero {
    display: grid;

    align-items: center;
    justify-items: center;

    text-align: center;

    &__image {
        grid-column: 1;
        grid-row: 1;

        min-height: 500px;
        height: 70vh;
        max-height: 700px;

        border-radius: 20px;

        &--cover {
            object-fit: cover;
        }
    }

    &__content {
        grid-column: 1;
        grid-row: 1;

        max-width: 800px;

        padding: min(6%, 50px);
    }
}
