
@layer links {
    :any-link:not(.button) {
        color: var(--c-primary);
    }

    .link:any-link {
        color: var(--c-primary);
    }

    .link:any-link {
        color: var(--c-primary);
    }

    .link-white:any-link {
        color: #fff;
    }

    .link-underlined {
        text-decoration: underline;
    }

}
